<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registro</title>
  <link rel="stylesheet" href="../../../styles/auth/register.css">
  <link rel="stylesheet"   href="../../../styles/global/modal.css"></link>

</head>
<body>
  <header>
    <h1>Credi Avalis</h1>
    <h2>Regístrate</h2>
  </header>
  
  <div id="modal">
    <p id="titleModal">Ocurrió un problema</p>
    <p id="messageModal"></p>
    <button id="btnCloseModal">Aceptar</button>
  </div>

  <form id="form">

    <label for="inputFullName">Nombre Completo</label>
    <input type="text" id="inputFullName" placeholder="Nombre Completo" required />

    <label for="inputUsername">Nombre de usuario:</label>
    <input type="text" id="inputUsername" placeholder="Como quieres que te llamemos" required />

    <label for="inputEmail">Email:</label>
    <input type="email" id="inputEmail" placeholder="Correo electrónico" required />

    <div class="dato">
      <label for="fechaNacimiento">Fecha de nacimiento:</label>
      <input type="date" id="fechaNacimiento" name="fechaNacimiento" required/>
    </div>

    <label for="inputRfc">RFC:</label>
    <input type="text" id="inputRfc" placeholder="Ingresa tu RFC" required />

    <label for="inputPassword">Contraseña:</label>
    <input type="password" id="inputPassword" placeholder="Contraseña" required />

    <label for="inputRepeatPassword">Repeat Password</label>
    <input type="password" id="inputRepeatPassword" placeholder="Repite la contraseña" required />

    <button type="submit">Registrar</button>
  </form>
  
  <script type="module" src="../../../controller/auth/register.js"></script>
  <script type="module" src="../../../controller/global/modal.js"></script>
  <script type="module" src="../../../controller/global/typeMessageError.js"></script>
</body>
</html>
