<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Detalle de Crédito</title>
  <link rel="stylesheet"   href="../../../styles/global/modal.css"></link>
  <link rel="stylesheet" href="../../styles/protected//detailsMyCredit.css">
  <link rel="stylesheet" href="../../styles/global/headertitle.css">

</head>
<body>

  <header>
    <h1>Detalle del Crédito</h1>
  </header>

  <div id="modal">
    <p id="titleModal">Ocurrió un problema</p>
    <p id="messageModal"></p>
    <button id="btnCloseModal">Aceptar</button>
  </div>

  <div class="detalle" id="detalleCredito">

  </div>

  <div id="divBtnPage">
    <p>Simulación de pago</p>
    <button id="btnPage">Pagar</button>
  </div>
  
  <div id="divTxtCreditPaidFull">
    <p>Crédito pagado completamente</p>
  </div>

  <h2>Historial de Pagos</h2>

  <p id="txtNoPayments">Aún no hay pagos</p>


  <div class="historial" id="historialPagos">
  </div>


  <script type="module" src="../../controller/protected/detailsMyCredit.js"></script>
  <script type="module" src="../../../controller/global/modal.js"></script>

</body>
</html>
