<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CrediAvalis - Inicio</title>
  <link rel="stylesheet" href="../../styles/protected/home.css">
  <link rel="stylesheet" href="../../styles/global/headertitle.css">

</head>
<body>

    <header>
        <h1>CrediAvalis</h1>
    </header>
    
    <div class="bienvenida">
        <h2>Bienvenido, <span id="nombreUsuario">Usuario</span></h2>
        <p>¿Qué deseas hacer hoy?</p>
    </div>


  <div class="menu">
    <a href="./listCredits.html">Solicitar crédito</a>
    <a href="./estado-solicitudes.html">Ver estado de solicitudes</a>
    <a href="./creditos-aprobados.html">Créditos aprobados</a>
    <a href="./creditos-aprobados.html">Mi Cuenta</a>

  </div>

  <script type="module" src="../../controller/protected/home.js"></script>

</body>
</html>
