<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CrediAvalis - Créditos Disponibles</title>
  <link rel="stylesheet" href="../../styles/global/headertitle.css">
  <link rel="stylesheet" href="../../styles/protected/listCredits.css">
  <link rel="stylesheet"   href="../../styles/global/modal.css"></link>

</head>
<body>

  <header>
    <h1>Créditos Disponibles</h1>
  </header>
  <div id="divPages">
    <p>Páginas: </p>

  </div>
  <div id="modal">
    <p id="titleModal">Solicitando Crédito...</p>
    <p id="messageModal">Porfavor espera</p>
    <button id="btnCloseModal">Aceptar</button>
  </div>


  <div class="creditos-container" id="listaCreditos">
    
  </div>

  <script type="module" src="../../controller/protected/listCredit.js"></script>
  <script type="module" src="../../controller/global/modal.js"></script>
  <script type="module" src="../../controller/protected/paginationToListCredits.js"></script>

</body>
</html>
