<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CrediAvalis - Créditos Aprobados</title>
  <link rel="stylesheet" href="../../styles/protected//listAprovedCredits.css">
  <link rel="stylesheet" href="../../styles/global/headertitle.css">

</head>
<body>

  <header>
    <h1>Créditos Aprobados</h1>
  </header>

  <div class="creditos-aprobados" id="listaCreditos">

    <div id="divTxtEmptyCreditsApproved">
      <p >Aún no tienes creditos aprovados</p>
    </div>
  </div>

  <script type="module" src="../../controller/protected/creditsApproved.js"></script>
  

</body>
</html>
