<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Mi Cuenta - CrediAvalis</title>
  <link rel="stylesheet" href="../../styles/protected/profile.css">
  <link rel="stylesheet" href="../../styles/global/headertitle.css">
</head>
<body>

  <header>
    <h1>Mi Cuenta - CrediAvalis</h1>
  </header>

  <section class="cuenta">
    <h2>Información del usuario</h2>

    <div class="dato">
      <label>Username:</label>
      <span id="username"></span>
    </div>

    <div class="dato">
      <label>Nombre completo:</label>
      <span id="fullName"></span>
    </div>

    <div class="dato">
      <label>Email:</label>
      <span id="email"></span>
    </div>

    <div class="dato">
      <label>RFC:</label>
      <span id="rfc"></span>
    </div>

    <div class="dato">
      <label>Fecha de registro:</label>
      <span id="registredDate"></span>
    </div>

    <div class="dato">
      <label>Número de créditos solicitados:</label>
      <span id="creditsApplication"></span>
    </div>

    <div class="dato">
      <label>Créditos aprobados:</label>
      <span id="creditApproved"></span>
    </div>
  </section>

  <script type="module" src="../../controller/protected/profile.js"></script>
</body>
</html>
