<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>CrediAvalis - Admin</title>
  <link rel="stylesheet" href="../../styles/admin/admin.css" />

</head>
<body>
  <header>
    <h1>CrediAvalis - Panel de Administración</h1>
  </header>

  <div id="modal">
    <p id="titleModal"></p>
    <p id="messageModal"></p>
    <button id="btnCloseModal">Aceptar</button>
  </div>

  <div id="modalDataUser">
    <p id="titleModalDataUser" >Información del Usuario</p>
    <p id="idUser" class="txtDataUser"></p>
    <p id="NameUser" class="txtDataUser"></p>
    <p id="UsernameUser" class="txtDataUser"></p>
    <p id="amountCreditsApplication" class="txtDataUser"></p>
    <p id="amountCreditsApproved" class="txtDataUser"></p>
    <p id="registredDate" class="txtDataUser"></p>

    <button id="btnCloseModalDataUser">Cerrar</button>
  </div>


  <div class="container">
    <div class="filters">
      <input type="text" id="filterUser" placeholder="Filtrar por ID de usuario" />
      <select id="filterStatus">
        <option value="NoFilter">Sin Filtros</option>
        <option value="APPROVED">Aprobados</option>
        <option value="PENDING">Pendientes</option>
        <option value="REJECTED">Rechazados</option>
        <option value="CANCELED">Cancelados</option>
      </select>
    </div>

    <div class="credit-list" id="creditList">
     
    </div>
  </div>

  <script type="module" src="../../controller/admin/admin.js"></script>
</body>
</html>
